body {
    margin:0%;
    font-family: 'Roboto';
}
.hr1 {
    color: #20a8b4;
}
.hr2 {
    color: #ff5c0f;
}
.header-container {
    background-color:#f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
}
.header-container-flexend {
    display: flex;
}
.header-container-flexstart {
    display: flex;
}
.main {
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.button {
    background-color: #20a8b4;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 10px;
    cursor: pointer;
}
.button:hover {
    background-color: #ff5c0f;
}
a:link, a:visited {
    color: black;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 14px;
  }
a:hover, a:active {
    color: #ff5c0f;
}
.bgimg {
        width:600px;
}
@media screen and (max-width:768px) {
        .bgimg{
            display: none;
        }
        a, .header-container, .header-container-flexstart, .header-container-flexend {
            display:block;
        }

        .button {
            width:100%;
            text-align:left;
        }
}